<!-- <div class="p-6 max-w-xl mx-auto">
  <h2 class="text-xl mb-4">Generate Certificate</h2>

  <label class="block mb-2">Template ID</label>
  <input class="border p-2 w-full mb-4" type="number" [(ngModel)]="templateId" />

  <label class="block mb-2">Recipient Name</label>
  <input class="border p-2 w-full mb-4" [(ngModel)]="name" placeholder="Jean Claude" />

  <button class="bg-black text-white px-4 py-2 rounded" (click)="submit()">Generate</button>

  <button *ngIf="lastId" class="ml-3 border px-4 py-2 rounded" (click)="download()">Download PDF</button>

  <p class="text-red-600 mt-3" *ngIf="error">{{ error }}</p>
</div> -->
