.layout {
  display: flex;
  height: 100vh;
}

aside {
  width: 240px;
  background: #0f172a;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

button {
  margin-top: auto;
  background: #1d4ed8;
  border: none;
  padding: 10px;
  color: white;
}
